@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');


@import url('https://fonts.cdnfonts.com/css/natural-precision');


.admin-team-section{
	padding-right: 3em;
	 align-items: center;
}
.modifica-link{
	padding-bottom:1em;
}
.custom-row{
	
	padding-right:8em;
	padding-left:9em;
border:1px solid black;
 background-color: rgba(220, 220, 220, 0.8); 
}
.custom-row:hover{
	background-color:rgba(230, 230, 230, 0.8);
}

div.font-effect-shadow-multiple {

	font-family: 'Rancho', sans-serif;
     font-size:40px;
     color: white;
}

body{
	font-family:cursive;
	background-image: url("../images/bkg1.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opzionale: fissa l'immagine di sfondo durante lo scrolling */
    margin-bottom: 0px; /* Rimuove i margini predefiniti del body */
padding-bottom:8em;

	/*min-height: 100vh; /* Impedisce che il footer si sovrapponga al contenuto */
	
	
}

h1,h2{
	font-family: 'Natural Precision', sans-serif;
	/*text-decoration : line-through wavy red;*/
	color: #000000;
	
}

.cerca{
	margin-top:5px;
}



 .btn{
 display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn:hover,
  .btn:focus {
  background-color: #2980b9;
  transform: scale(1.05);
}

 .btn2{
 display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn2:hover,
  .btn2:focus {
  background-color: #cc0000;
  transform: scale(1.05);
}

li{
	list-style:none;
} 
    input {
        border-radius: 5px 5px 5px 5px; /* Aggiunge angoli arrotondati solo al lato destro */
  }
    label {
    font-weight:bold;
       display: inline-block;
        width: 100px; /* Imposta la larghezza desiderata */
       text-align: right; /* Allinea il testo a destra */
       margin-right: 10px; /* Aggiunge un margine destro per separare le etichette dagli input */
        padding: 5px; /* Aggiunge spaziatura interna per una migliore presentazione */
}
     
       

        .players-update-team{
            margin-bottom:125px;
        }
        
        .container-index-admin{
        text-transform: uppercase;
        font-size:16px;
        line-height:30px;
        }

       .container-reg{
        text-transform: uppercase;
        font-size:16px;
       }
        .container-login {
          display:inline-block;
          padding:10px 20px;
          color:black;
          font-size:16px;
          text-decoration:none;
          text-transform: uppercase;
          overflow: hidden;
          /*margin: -300px 650px 40px;*/
        }
       
   .add-team{
   margin-left:40px;
   }
   .admin-team-section{
   margin-left:40px;
   }
   .players-update-team{
   margin-top:50px;
   }
   .players-up{
   margin-left:40px;
   }
  
   .indexClasse{
   margin-top: 100px;
     font-size:16px;
        line-height:30px;
   }
   .link-player{
   font-weight:bold;
   }
  .players-title-page{
  padding-right:2em;
  }
.player-details{
	
	margin-top:20px;
	padding-right:2em;
}
.membership-details{
	margin-top:20px;
	}
	.players-list{
	margin-top:20px;
	padding-right:8em;
	padding-left:6em;
	}
  .lista-teams {
            margin-top:50px;
            display: flex; /*Utilizza il modello di layout Flexbox*/
            flex-wrap: wrap; /* Consente agli elementi figli di andare a capo quando raggiungono la fine della linea.*/
            gap: 20px;/*Aggiunge uno spazio di 20 pixel tra gli elementi figli*/
            margin-left: 30px;
            margin-right:0px;
           
             padding-left: 6em;
        }
        
     .name-team-list{
     
     margin-right:40px;
      font-weight:bold;
       transition: transform 0.3s;/*Aggiunge un'animazione di transizione al cambiamento 
                                                   della proprietà transform, che viene utilizzata quando il cursore 
                                                   si posiziona su una card.*/
     }
     .name-team-list:hover {
         transform: scale(1.05);
         
     }
   .card {
    margin: 0;
    padding: 0;
}     

        .card {
         height:300px;
            width: 200px;
            border: 1px solid #ddd; /*Aggiunge un bordo sottile di colore grigio alle cards.*/
            border-radius: 8px; /* bordo arrotondato*/
            overflow: hidden;   /*Nasconde eventuali contenuti che potrebbero fuoriuscire dalla cards.*/
            transition: transform 0.3s ease-in-out; /*Aggiunge un'animazione di transizione al cambiamento 
                                                   della proprietà transform, che viene utilizzata quando il cursore 
                                                   si posiziona su una card.*/
           display: flex; 
          flex-direction: column; /* Imposta la direzione dei figli come colonna */
                                                   
                                              
        }

        .card:hover {
            transform: scale(1.05); /*Applica una trasformazione di scala al 105% quando il cursore è posizionato sulla card, 
                                      creando un effetto di ingrandimento.*/
        }

        .card img {
            width: 100%;
            height: auto; /*Mantiene l'aspetto proporzionato dell'immagine.*/
        }

        .card-content {
            padding: 15px; /* spazio interno  */
        }

       
        
        .team-image{
          width: 250px; /* Larghezza del box */
          height: 300px; /* Altezza del box */
          border: 1px solid #ccc; /* Bordo del box */
          padding: 10px; /* Spazio interno del box */
       margin: 30px auto; /* Margine: 10px in alto, 0 a destra, 10px in basso, -20px a sinistra */
          display:flex;
          align-items:center;
          justify-content:center;
          transition:border-width 0.3s;
        }
        .team-image:hover {
        border-width: 5px; /* Cambia la larghezza del bordo al passaggio del mouse */
        }
        .team-image img{
          width: 100%; /* L'immagine si adatta alla larghezza del box */
         height: auto; 
        }

   .team-name-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;  /* Aggiungi uno spazio inferiore tra il titolo e il paragrafo */
    font-weight:bold;
   /* color:red;*/
}
   
   
   
   
