@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');
@import url('https://fonts.cdnfonts.com/css/comics');
@import url('https://fonts.cdnfonts.com/css/natural-precision');

span.comic-title{
	color:red;
}
div.font-effect-shadow-multiple {

	font-family: 'Rancho', sans-serif;
     font-size:40px;
     color: white;
}
.custom-row{
border:1px solid black;
 background-color: rgba(220, 220, 220, 0.8); 
}
.custom-row:hover{
	 background-color:rgba(230, 230, 230, 0.8);
}
.players-list-team{
	padding-right: 2em; 
  
}

header {
  position: fixed; /*  posizione fissa  */
  top: 0; /* Posizione in alto nella pagina */
  width: 100%; /*  occupa l'intera larghezza */
  z-index: 1000;
}

.cerca{
	margin-top:5px;
}

h1,h2{
font-family: 'Natural Precision', sans-serif;                                              
	/*text-decoration : line-through wavy red;*/
	color: #000000;
	
}
.update-players-president{
	padding-top:4em;
}
.reg-form, .login-form{
    font-family:cursive;
	background-image: url("../images/background1.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opzionale: fissa l'immagine di sfondo durante lo scrolling */
    margin: 0; /* Rimuove i margini predefiniti del body */
     height: 100vh;
	  backdrop-filter: blur(5px); /* Utilizza vw per l'effetto di sfocatura */
	
}
body{
	font-family:cursive;
	background-image: url("../images/bkg1.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opzionale: fissa l'immagine di sfondo durante lo scrolling */
    margin: 0; /* Rimuove i margini predefiniti del body */

		padding-top:2em;
	 padding-bottom: 8em;
	 z-index: 1;
	height: 100vh;
	
}



.register-btn{
	margin-left:200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
 .btn{
 display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .register-btn:focus,
  .register-btn:hover,
  .btn:hover,
  .btn:focus {
  background-color: #2980b9;
  transform: scale(1.05);
}

 .btn2{
 display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn2:hover,
  .btn2:focus {
  background-color: #cc0000;
  transform: scale(1.05);
}


.containerIndex{
	padding-top:10em;
}


     /*login e registrazione*/  
     .registrazione{
     text-align:center;
     margin-top:30px;
        justify-content:center;
        align-items: center;
     }
      .container-reg{
        margin: auto;
        width: 50%; /* o qualsiasi larghezza desiderata */
        display:flex;
        position:relative;
        justify-content:center;
        align-items: center;
       /* text-transform: uppercase;*/
        font-size:16px;
        text-align: center;
       }
       
        .container-login {
          color:black;
          font-size:16px;
          text-decoration:none;
          overflow: hidden;
        }
        .container-login-suc {
          display:inline-block;
          color:black;
          font-size:16px;
          text-decoration:none;
          text-transform: uppercase;
          overflow: hidden;
          margin: auto;
        }
        .Congratulazioni{
           text-decoration: underline; /* Aggiunge una sottolineatura */
    text-decoration-color: red; /* Colore della sottolineatura */
}
li{
	list-style:none;
} 

    input {
        border-radius: 5px 5px 5px 5px; /* Aggiunge angoli arrotondati solo al lato destro */
        transition: background-color 0.3s, color 0.3s; /* aggiungi una transizione per un effetto più fluido */
        
  }
  input:hover {
     background-color: rgba(128, 128, 128, 0.5);
     color: #fff;
  }
    label {
     font-weight:bold;
        display: inline-block;
        width: 100px; /* Imposta la larghezza desiderata */
        text-align: right; /* Allinea il testo a destra */
        margin-right: 10px; /* Aggiunge un margine destro per separare le etichette dagli input */
        padding: 5px; /* Aggiunge spaziatura interna per una migliore presentazione */
}

.containerTeam{
	line-height:30px;
}
.containerPlayers{
	text-align:center;
	align-items:center;
}
  
   .link-player{
   font-weight:bold;
   }
  .players-title-page{
  margin-left:30px;
  }
.player-details{
	padding-right:2em;
	margin-top:20px;
}
.membership-details{
	margin-top:20px;
	}
	.players-list{
	margin-top:20px;
	padding-left:8em;
	padding-right:8em;
	} 
   .lista-teams {
            margin-top:50px;
            display: flex; /*Utilizza il modello di layout Flexbox*/
            flex-wrap: wrap; /* Consente agli elementi figli di andare a capo quando raggiungono la fine della linea.*/
            gap: 20px;/*Aggiunge uno spazio di 20 pixel tra gli elementi figli*/
            margin-left: 30px;
            margin-right:0px;
           
             padding-left: 6em;
        }
        

  
        .card {
         height:300px;
            width: 200px;
            border: 1px solid #ddd; /*Aggiunge un bordo sottile di colore grigio alle cards.*/
            border-radius: 8px; /* bordo arrotondato*/
            overflow: hidden;   /*Nasconde eventuali contenuti che potrebbero fuoriuscire dalla cards.*/
            transition: transform 0.3s ease-in-out; /*Aggiunge un'animazione di transizione al cambiamento 
                                                   della proprietà transform, che viene utilizzata quando il cursore 
                                                   si posiziona su una card.*/
           display: flex; /* Utilizza il modello di layout flessibile */
          flex-direction: column; /* Imposta la direzione dei figli come colonna */
                                                   
                                              
        }

        .card:hover {
            transform: scale(1.05); /*Applica una trasformazione di scala al 105% quando il cursore è posizionato sulla card, 
                                      creando un effetto di ingrandimento.*/
        }

        .card img {
            width: 100%;
            height: auto; /*Mantiene l'aspetto proporzionato dell'immagine.*/
        }

        .card-content {
            padding: 15px; /*Aggiunge uno spazio interno  */
        }

      .team-name-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;  /* Aggiungi uno spazio inferiore tra il titolo e il paragrafo */
    font-weight:bold;
   /* color:red;*/
}
        
        .team-image{
          width: 250px; /* Larghezza del box */
          height: 300px; /* Altezza del box */
          border: 1px solid #ccc; /* Bordo del box */
          padding: 10px; /* Spazio interno del box */
          margin: 30px auto; /* Margine: 10px in alto, 0 a destra, 10px in basso, -20px a sinistra */
          display:flex;
          align-items:center;
          justify-content:center;
          transition:border-width 0.3s;
        }
        .team-image:hover {
        border-width: 5px; /* Cambia la larghezza del bordo al passaggio del mouse */
        }
        .team-image img{
          width: 100%; /* L'immagine si adatta alla larghezza del box */
         height: auto; /* L'immagine si adatta all'altezza del box */
        }
